<a href="https://colab.research.google.com/github/Souzadfs/Data_Science/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

 Criar uma matriz unidimensional

In [ ]:
mt = np.array ([11,12,13,14,15])
print(mt)
type(mt)

In [ ]:
#Create array with a specific type
#Create array as float of 64 bits

mtfloat = np.array([1,2,3,4,5,6], dtype = np.float64)
print(mtfloat)
print(type(mtfloat))

mtint = np.array([1,2,3,4,5,6], dtype = np.int32)
print(mtint)
print(type(mtint))

In [ ]:
#Change type of array for int

mt01 = np.array([1.222,3.4222,1.243,45.2425])
print(mt01)
mt02 = mt01.astype(np.int32)
print(mt02)

In [ ]:
#Change type of array for float

mt03 = np.array([1,2,3,4,5,66])
print(mt03)
mt04 = mt03.astype(np.float64)
print(mt04)

In [ ]:
# More than one dimensional
# Created a two-bidimensional array

mt05 = np.array([[1,2,3,4],[4,3,2,1],[9,8,8,7]])
print(mt05)

In [ ]:
#Create a array typifield

vazio = np.empty([3,2], dtype = int)
print(vazio)
print('---------------------------------------------')

# Create a array (4 x 3) with value zero

zero = np.zeros([4,3])
print(zero)
print("----------------------------------------------")

#Create a array (5 x 7) with value one
one = np.ones([5,7])
print(one)

diagonal = np.eye(5)
print(diagonal)

In [ ]:
#Random values betwen um and zero

ale = np.random.random((5))
print(ale)

print('---------------------')

ale2 = np.random.randn((5))
print(ale2)

print('------------------------')

ale3 = (10*np.random.random((3,4)))
print(ale3)

In [ ]:
#Others form to create a random array

grn = np.random.default_rng(1)
print(1)
ale4 = grn.random(3)
print(ale4)


# Create integers numbers

ale5 = grn.integers(10, size=(3,4))
print(ale5)

In [ ]:
#Remove repetitions

j = np.array([1,1,2,2,3,4,5,6,7,8,8,9,8,10,11,12,13,14])
print(j)
j = np.unique(j)
print(j)

In [ ]:
k = np.array([[1,2,3,4],[2,4,5,1],[5,100,7,8]])
print(k)
print(k[2][3])
print(k.shape)

In [ ]:
#Mathematical functions
print(k.max())
print(k.min())
print(k.sum())
print(k.mean())
print(k.std())

In [ ]:
k1 = np.array([1,12,20,30,45])

print(np.sqrt(k1))

print(np.exp(k1))

In [ ]:
elem = np.array([[1,2,4,5],[3,4,5,3],[6,7,8,9],[3,5,2,5]])
print(elem)
print('------------')

linha00 = elem[0,:]
print(linha00)
print('------------')

linha01 = elem[1, :]
print(linha01)
print('------------')

linha02 = elem[2,:]
print(linha02)
print('------------')

linha03 = elem[3,:]
print(linha03)
print('------------')
print(elem.shape)

In [ ]:
colum00 = elem[:,0]
print(colum00)
print('------------')

colum01 = elem[:,1]
print(colum01)
print('------------')

colum02 = elem[:,2]
print(colum02)
print('------------')

colum03 = elem[:,3]
print(colum03)
print('------------')

In [ ]:
n = np.array([[1,2],[3,4]])
o = np.array([[9,7],[4,5]])
c = n+o
print(c)

print('---------')

c2 = n*o
print(c2)

print('---------')

p = np.array([[1,2,3],[3,6,7],[2,3,9]])
q = np.array([[5,6,3]])
print(p+q)